@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.profile-container {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.profile-container .profile-top {
  width: 100%;
}
.profile-container .profile-top button {
  background-color: transparent;
  border: 0;
}
.profile-container .profile-top button a {
  color: white;
  text-decoration: none;
}
.profile-container .profile-top button a .back-svg {
  fill: white;
  height: 30px;
  width: 30px;
}
.profile-container .profile-top .top-gradient {
  z-index: -1;
  width: 100%;
  height: 5rem;
  position: absolute;
  top: 0;
  right: 0;
  margin: 0 auto;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
}
.profile-container .pfp-name {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.profile-container .pfp-name .pfp-container {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  overflow: hidden;
}
.profile-container .pfp-name .pfp-container img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.profile-container .cardWrap {
  width: 31em;
  margin: 2em auto;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile-container .cardWrap .card {
  height: 10em;
  float: left;
  position: relative;
  padding: 1em;
}
.profile-container .cardWrap .cardLeft {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  width: 19em;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
}
.profile-container .cardWrap .cardLeft .leftTop {
  margin-top: -0.8rem;
}
.profile-container .cardWrap .cardLeft .leftTop .text {
  color: #bac2ce;
  font-size: 14px;
  font-weight: 300;
  margin-top: -5px;
}
.profile-container .cardWrap .cardLeft .leftTop .title h3 {
  line-height: 22px;
}
.profile-container .cardWrap .cardLeft a {
  color: white;
  font-weight: 300;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.5px;
}
.profile-container .cardWrap .cardRight {
  width: 7em;
  border-left: 2px dashed rgba(255, 255, 255, 0.5);
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile-container .cardWrap .cardRight:before, .profile-container .cardWrap .cardRight:after {
  content: "";
  position: absolute;
  display: block;
  width: 0.9em;
  height: 0.9em;
  background: #20252b;
  border-radius: 50%;
  left: -0.5em;
}
.profile-container .cardWrap .cardRight:before {
  top: -0.4em;
}
.profile-container .cardWrap .cardRight:after {
  bottom: -0.4em;
}
.profile-container .cardWrap .cardRight .poster-container {
  align-self: center;
  border-radius: 10px;
  border: 2px solid #ff4646;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.profile-container .cardWrap .cardRight .poster-container img {
  border-radius: 10px;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.5s;
}
.profile-container .bookings-btn {
  width: 30em;
  background-color: rgba(174, 174, 174, 0.3);
  border-radius: 8px;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
.profile-container .bookings-btn a {
  padding: 0 1rem;
  text-decoration: none;
  color: white;
  width: 100%;
  display: flex;
  align-items: center;
}
.profile-container .bookings-btn a svg {
  height: 45px;
  width: 45px;
  fill: white;
}
.profile-container .bookings-btn a .text {
  margin-left: 1rem;
}
.profile-container .bookings-btn a .text h4 {
  font-size: 16px;
  font-weight: 600;
}
.profile-container .bookings-btn a .text p {
  margin-top: -10px;
  color: #bac2ce;
  font-size: 14px;
  font-weight: 300;
}
.profile-container .signout-btn {
  cursor: pointer;
  background-color: #d63031;
  border: 1px solid #d63031;
  color: white;
  border-radius: 8px;
  margin: 2em 0;
  transition: 0.3s;
}
.profile-container .signout-btn:hover {
  background-color: transparent;
}
.profile-container .signout-btn button {
  cursor: pointer;
  border: 0;
  background-color: transparent;
  padding: 0.8rem 1rem;
  display: flex;
  align-items: center;
  color: white;
  letter-spacing: 0.5px;
  font-size: 16px;
  font-weight: 300;
}
.profile-container .signout-btn button svg {
  height: 30px;
  width: 30px;
  fill: white;
  margin-right: 1rem;
}

@media (max-width: 570px) {
  .profile-container .pfp-name .pfp-container {
    height: 80px;
    width: 80px;
  }
  .profile-container .cardWrap {
    width: 100%;
  }
  .profile-container .cardWrap .cardLeft {
    width: 50%;
  }
  .profile-container .cardWrap .cardLeft .leftTop .title h3 {
    font-size: 16px;
    font-weight: 600;
  }
  .profile-container .cardWrap .cardRight {
    width: 30%;
  }
  .profile-container .cardWrap .cardRight .poster-container {
    width: 120px;
  }
  .profile-container .bookings-btn {
    width: 100%;
  }
  .profile-container .signout-btn {
    width: 100%;
  }
}
@media (max-width: 340px) {
  .profile-container .cardWrap .cardLeft .leftTop .title h3 {
    font-size: 14px;
    font-weight: 300;
    font-weight: 600;
  }
}/*# sourceMappingURL=profile.css.map */